beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
DateTime
dnspython
Flask
idna
itsdangerous
Jinja2
MarkupSafe
pymongo
python-dotenv
pytz
requests
setuptools
soupsieve
urllib3
Werkzeug
zope.interface
